<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless user_signed_in? %>
      <%= link_to 'Sign in', new_user_session_path, class: "col-sm-2" %>
      <%= link_to 'Sign up', new_user_registration_path, class: "col-sm-2" %>

    <% else %>
      <%= link_to 'Sign off', destroy_user_session_path, method: :delete, class: "col-sm-2" %>
    <% end -%>
    <%= yield %>
  </body>
</html>
